.container {
  background: #1c1d26;
  border: 1px solid #282a37;
  border-radius: 4px;
  max-width: 200px;
  min-width: 144px;
  height: 40px;
  display: grid;
  place-content: center;
  padding: 8px;
}
.text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #babdcc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
